@media screen and (max-width:960px) {
    .form-left,
    .form-right {
        display: block;
        margin: 0 auto;
        float: none;
        width: auto;
    }
    .form-reg .form-right input[type="email"] {
        margin-top: 20px;
    }
}
@media screen and (max-width:768px) {
    nav,
    #mobile,
    .dashed-border {
        display: none;
    }
    .main-menu {
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 0;
    }
    .logo {
        width: 100%;
        float: none;
        margin-top: 0;
        padding-top: 10px;
    }
    .logo img {
        max-width: 170px;
    }
    #mobile-menu,
    .toggle-menu {
        display: block;
    }
    #mobile:checked ~ nav#mobile-menu {
        display: block;
        box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
    .search-bar input[type="text"] {
        width: auto;
        max-width: none;
    }
    .step {
        width: 100%;
        float: none;
        margin: 0 0 35px 0;
    }
    .step p {
        width: 80%;
        margin-top: 15px;
    }
    .birds {
        float: none;
        width: 100%;
        padding-top: 35px;
    }
    .birds figure {
        margin: 0;
    }
    .parag {
        width: 100%;
        float: none;
        color: white;
        text-align: center;
    }
    .parag p {
        line-height: 20px
    }
    .free-but {
        float: none;
        width: 100%;
        padding-bottom: 35px;
    }
    .cat-img {
        height: 180px;
    }
    .single-cat {
        width: 49%;
    }
    #mobile-menu {
        width: 100%;
        float: none;
        text-align: center;
        display: block;
        top: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-top: 1px solid #ffdaea;
        padding-top: 20px;
        display: none;
    }
    header ul li {
        display: block;
    }
    header ul li a {
        line-height: 32px;
    }
    .login-item {
        padding-left: 0;
    }
    .toggle-menu {
        padding-bottom: 10px;
    }
    /*Login-Register*/
    .form-reg,
    .arrow,
    .form-login {
        display: none;
        position: relative;
    }
    .form-login {
        float: none;
        width: 100%;
    }
    .forms-cont {
        padding: 132px 0;
        margin: 0 auto;
    }
    label[for="ch-login"],
    label[for="ch-register"] {
        display: block;
        position: absolute;
        right: 0px;
        background: #caeeeb;
        padding: 12px 20px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 18px;
        box-shadow: inset -1px 1px 6px rgba(0, 0, 0, 0.22);
        color: #212121;
    }
    label[for="ch-login"] {
        background: #ff9fb9;
        color: #fff;
    }
    input#ch-login:checked + .form-login {
        display: block;
    }
    input#ch-register:checked + .form-reg {
        display: block;
    }
}
@media screen and (max-width:480px) {
    label[for="ch-login"],
    label[for="ch-register"] {
        padding: 12px 14px;
        font-size: 14px;
    }
}
