@font-face {
    font-family: fa;
    src: url(../fonts/FontAwesome.otf);
    src: url('../fonts/fontawesome-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}
* {
    font-family: 'Comfortaa', cursive;
}
*:focus {
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
}
input[type="submit"],
button,
nav a {
    font-family: 'Roboto', sans-serif;
}
html,
body,
header,
figure,
ul {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.logo {
    width: 25%;
    float: left;
    margin-top: 15px;
}
.logo img {
    max-width: 200px;
}
nav {
    width: 75%;
    float: left;
    text-align: right;
    display: block;
    top: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.clearfix {
    clear: both;
}
.main-menu {
    background-color: #fff;
    padding: 0 5%;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
}
.search-bar {
    clear: both;
    text-align: center;
    top: 38%;
    display: block;
    position: relative;
}
header {
    position: relative;
}
header#home {
    height: 100%;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header ul {
    list-style-type: none;
}
header ul li {
    display: inline;
    margin: 0 10px;
}
header ul li a {
    color: #757575;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
header ul li a:hover {
    color: #443e3f;
}
a {
    text-decoration: none;
}
.login-item {
    position: relative;
    padding-left: 30px;
}
.login-icon {
    max-width: 30px;
    position: absolute;
    top: -5px;
    left: -10px;
    display: inline-table;
}
.login-icon img {
    width: 100%;
}
select {
    color: #757575;
}
.search-bar input[type="text"] {
    border: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    font-size: 18px;
    padding: 8px 20px;
}
.search-bar form input[type="submit"] {
    font-size: 18px;
    font-weight: 500;
    border: 0;
    background: #f49ac1;
    color: white;
    padding: 7px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.h1-cont h1 {
    text-align: center;
    font-size: 18px;
    margin: 0;
}
.dash {
    height: 2px;
    width: 50px;
    background-color: #ff9fb9;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.step {
    width: 28%;
    float: left;
    margin: 0 2.666%;
}
.how-steps {
    padding: 0 5%;
    text-align: center;
    position: relative;
}
.step-nr {
    border: 2px solid #ff9fb9;
    width: 83px;
    height: auto;
    padding: 31px 0;
    color: #212121;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    z-index: 10;
    position: relative;
}
.dashed-border {
    height: 2px;
    width: 70%;
    border-top: 2px dotted #ff9fb9;
    margin: 0 auto;
}
.dashed-cont {
    position: absolute;
    top: 45px;
    width: 90%;
    z-index: 0;
}
body {
    background-color: #fafafa;
}
.howitworks-cont {
    position: relative;
    padding-top: 100px;
}
.step p {
    font-size: 14px;
    line-height: 24px;
    width: 63%;
    margin: 0 auto;
    margin-top: 30px;
}
.adv-cont {
    background-image: url(../images/dots.jpg);
    margin-top: 100px;
}
.birds {
    float: left;
    width: 33%;
}
.birds figure {
    text-align: center;
    margin: 20px 0;
}
.free-but {
    float: right;
    width: 33%;
}
.parag {
    width: 33%;
    float: left;
    color: white;
    text-align: center;
}
.parag h1 {
    font-size: 24px;
    padding-top: 10px;
    color: #fff;
}
.free-but button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    background: #f49ac1;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    margin-top: 35px;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.free-but button:hover,
.search-bar form input[type="submit"]:hover {
    background: #fff;
    color: #f49ac1;
}
input[type="submit"],
button:focus {
    outline: 0;
}
.top-cat > .h1-cont {
    margin-top: 100px;
}
.single-cat {
    width: 32%;
    float: left;
    margin-left: 1%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    margin-bottom: 35px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.single-cat:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.22);
}
.cat-row {
    width: 90%;
    margin: 0 auto;
}
.cat-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
    color: #212121;
    text-transform: uppercase;
    background-color: #fff;
}
.cat-img {
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.why-us {
    margin-top: 70px;
}
.why-us figure {
    position: relative;
    z-index: 1;
}
.pro-cont {
    margin-top: 100px;
    border-top: 2px solid #ff9fb9;
    border-bottom: 2px solid #ff9fb9;
    margin-bottom: 100px;
    background-color: #fff;
}
.pro-cont .parag {
    color: #212121;
    line-height: 24px;
}
.pro-cont .free-but button {
    background: #c6eeeb;
    color: #212121;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.pro-cont .free-but button:hover {
    background: #fff;
    color: #c6eeeb;
}
footer {
    background-image: url(../images/pink-dots.jpg);
}
ul.socials {
    list-style: none;
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
}
.socials li {
    display: inline-block;
}
.socials a .social-icom {
    width: 37px;
    height: 36px;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fb .social-icom {
    background-position: 0 0;
}
.tw .social-icom {
    background-position: -46px 0;
}
.g-plus .social-icom {
    background-position: -91px 0;
}
.in .social-icom {
    background-position: -137px 0;
}
.copy {
    text-align: center;
    font-size: 14px;
    color: #757575;
    line-height: 24px;
}
nav#mobile-menu,
.toggle-menu {
    display: none;
}

/*Login-Page*/

.forms-cont {
    margin: 132px auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}
.form-login {
    width: 35%;
    float: left;
    border: 1pt solid rgba(195, 184, 185, .4);
    background: #fff;
}
.arrow {
    width: 5%;
    float: left;
    text-align: center;
}
.arrow figure {
    margin-top: 80px;
}
.form-reg {
    width: 59%;
    float: left;
}
.form-login h2 {
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
}
.form-login input[type="email"],
.form-reg input[type="text"].name {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.form-login input[type="password"],
.form-reg input[type="text"] {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.form-login input[type="email"],
.form-login input[type="password"],
.form-reg input[type="text"],
.comment textarea {
    border: 1pt solid rgba(195, 184, 185, .4);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 210px;
}
label[for="remember"],
.form-login a {
    font-size: 12px;
    display: block;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #afafaf;
    cursor: pointer;
    padding-left: 20px;
}
.form-login a {
    color: #443e3f;
    font-weight: 600;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
#remember {
    display: none;
}
.form-login input[type="submit"] {
    font-size: 18px;
    font-weight: 500;
    border: 0;
    background: #f49ac1;
    color: white;
    padding: 7px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-login input[type="submit"]:hover {
    background: #fff;
    color: #f49ac1;
}
.form-reg p {
    font-size: 12px;
}
.form-left,
.form-right {
    float: left;
    width: 46%;
}
.form-left {
    margin-left: 4%;
}
.form-reg input[type="submit"].register-btn {
    color: #212121;
    background: #c6eeeb;
}
.form-reg input[type="submit"].register-btn:hover {
    background: #fff;
    color: #c6eeeb;
}
label[for="remember"] {
    position: relative;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}
label[for="remember"]::before {
    content: "\f1db";
    position: absolute;
    left: 0;
    top: 0;
}
input#remember:checked + label[for="remember"]::before {
    content: "\f192";
    position: absolute;
    color: #ff9fb9;
}
input#remember:checked + label[for="remember"] {
    color: #ff9fb9;
}
.remember-lost {
    max-width: 240px;
    margin: 0 auto;
}
input#ch-login,
input#ch-register,
label[for="ch-login"],
label[for="ch-register"] {
    display: none;
}

/*Success*/

.success-cont {
    text-align: center;
    margin: 150px 0;
}
.success {
    margin-top: 50px;
}
.arrows-bg {
    background-image: url(../images/sucs-arrow.png);
    background-repeat: repeat-x;
    height: 5px;
    background-position: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: -40px;
}
.success h1 {
    background: #fafafa;
    position: relative;
    max-width: 189px;
    margin: 24px auto;
    font-size: 24px;
    color: #c5edeb;
    font-weight: 600;
}
.success p {
    margin-top: 100px;
    font-size: 16px;
    color: #443e3f;
}

/*Error*/

.error h1 {
    color: #443e3f;
}
.error p {
    margin-top: 0;
}
.error {
    margin: 0 0;
    margin-bottom: 150px;
}
.error .button a {
    font-size: 18px;
    font-weight: 600;
    border: 0;
    background: #c6eeeb;
    color: #212121;
    padding: 7px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.error .button a:hover {
    background: #fff;
    color: #c6eeeb;
}
.error .button {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* New ad */

.form-newAd {
    width: 100%;
    float: none;
}
.options input,
.marriage input[type="radio"] {
    display: none;
}
.options label,
.marriage label {
    position: relative;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    padding-left: 20px;
}
.options label::before,
.marriage label::before {
    content: "\f1db";
    position: absolute;
    left: 0;
    top: 0;
}
.options input[name="pro-cat"]:checked + label::before,
.marriage input[type="radio"]:checked + label::before {
    color: #ff9fb9;
    content: "\f192";
}
.options input[name="pro-cat"]:checked + label,
.marriage input[type="radio"]:checked + label {
    color: #ff9fb9;
}
.single-options,
.marriage label {
    display: inline-block;
    margin: 5px 10px;
    text-transform: uppercase;
}
.form-left select {
    border: 1pt solid rgba(195, 184, 185, .4);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
}
.comment textarea {
    max-width: 400px;
    width: 100%;
}
.marriage,
.comment {
    margin-top: 60px;
}
.dash-title h3 {
    text-align: center;
    margin-top: 50px;
}
.dash-prof {
    background: #fff;
    padding: 5%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .10);
}
.dash-cont {
    width: 30%;
    margin-left: 5%;
    float: left;
    margin-bottom: 100px;
}
.img-cont > * {
    display: inline-block;
}
.img-cont i {
    color: #ff9fb9;
    font-size: 24px;
    margin-left: 5%;
}
.rating-color {
    height: 20px;
    width: 30%;
    background: -webkit-linear-gradient(left, #ff9fb9, #c6eeeb);
    background: linear-gradient(to right, #ff9fb9, #c6eeeb);
    float: left;
}
.rating {
    margin-top: 10px;
}
.rating > * {
    display: inline-block;
}
.rating-nr {
    color: #212121;
    font-size: 14px;
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 4px;
}
.rating h5 {
    width: 50%;
    float: left;
    text-align: right;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
}
.credit {
    margin-top: 30px;
}
.credit h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    float: left;
    width: 35%;
    padding-top: 5px;
}
.credit h5 span {
    color: #ff9fb9;
}
.credit > * {
    display: inline-block;
}
.credit .button a {
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background: #c6eeeb;
    color: #212121;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.credit .button a:hover {
    background: #fff;
    color: #c6eeeb;
}
.credit .button {
    width: 65%;
    float: left;
    text-align: right;
}
.dash-prof > h4 i {
    margin-right: 20px;
    color: #757575;
    padding: 0;
    font-size: 24px;
    top: 2px;
    position: relative;
}
.share {
    background: #ffdaea;
    padding: 5%;
    margin-top: 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .10);
}
.share hr {
    height: 1px;
    background-color: rgba(117, 117, 117, 0.34);
    border: none;
}
.prof-link {
    background: #ff9fba;
    padding: 10px 20px;
    border-radius: 20px;
}
.available-ads {
    margin-left: 5%;
    width: 55%;
    float: left;
    margin-bottom: 100px;
}
.single-item {
    background: #fff;
    width: 46%;
    margin: 0 2%;
    float: left;
    margin-bottom: 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .10);
}
.single-item h4 {
    color: #f59db9;
    font-size: 16px;
    font-weight: 600;
    padding: 5%;
    border-bottom: 1px solid rgba(117, 117, 117, 0.17);
    margin-top: 0;
}
.single-item > p {
    font-size: 14px;
    padding: 0 10px;
    color: #757575;
}
.single-item .button a {
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background: #c6eeeb;
    color: #212121;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.single-item .button {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}
.single-item .button a:hover {
    background: #fff;
    color: #c6eeeb;
}
.toggle-cont {
    display: none;
}
