* {
    font-family: 'Comfortaa', cursive;
}
input[type="submit"],
button,
nav a {
    font-family: 'Roboto', sans-serif;
}
html,
body,
header,
figure,
ul {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.logo {
    width: 25%;
    float: left;
    margin-top: 15px;
}
.logo img {
    max-width: 200px;
}
nav {
    width: 75%;
    float: left;
    text-align: right;
    display: block;
    top: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.clearfix {
    clear: both;
}
.main-menu {
    background-color: #fff;
    padding: 0 5%;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
}
.search-bar {
    clear: both;
    text-align: center;
    top: 38%;
    display: block;
    position: relative;
}
header {
    height: 100%;
    position: relative;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header ul {
    list-style-type: none;
}
header ul li {
    display: inline;
    margin: 0 10px;
}
header ul li a {
    color: #757575;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
header ul li a:hover {
    color: #443e3f;
}
a {
    text-decoration: none;
}
.login-item {
    position: relative;
    padding-left: 30px;
}
.login-icon {
    max-width: 30px;
    position: absolute;
    top: -5px;
    left: -10px;
    display: inline-table;
}
.login-icon img {
    width: 100%;
}
select {
    color: #757575;
}
.search-bar input[type="text"] {
    border: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    font-size: 18px;
    padding: 8px 20px;
}
.search-bar form input[type="submit"] {
    font-size: 18px;
    font-weight: 500;
    border: 0;
    background: #f49ac1;
    color: white;
    padding: 7px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: backgrond .2s ease-in-out, color .2s ease-in-out;
    transition: backgrond .2s ease-in-out, color .2s ease-in-out;
}
input[type="text"]:focus,
.search-bar select:focus {
    outline: 0;
}
.h1-cont h1 {
    text-align: center;
    font-size: 18px;
    margin: 0;
}
.dash {
    height: 2px;
    width: 50px;
    background-color: #ff9fb9;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.step {
    width: 28%;
    float: left;
    margin: 0 2.666%;
}
.how-steps {
    padding: 0 5%;
    text-align: center;
    position: relative;
}
.step-nr {
    border: 2px solid #ff9fb9;
    width: 83px;
    height: auto;
    padding: 31px 0;
    color: #212121;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    z-index: 10;
    position: relative;
}
.dashed-border {
    height: 2px;
    width: 70%;
    border-top: 2px dotted #ff9fb9;
    margin: 0 auto;
}
.dashed-cont {
    position: absolute;
    top: 45px;
    width: 90%;
    z-index: 0;
}
body {
    background-color: #fafafa;
}
.howitworks-cont {
    position: relative;
    padding-top: 100px;
}
.step p {
    font-size: 14px;
    line-height: 24px;
    width: 63%;
    margin: 0 auto;
    margin-top: 30px;
}
.adv-cont {
    background-image: url(../images/dots.jpg);
    margin-top: 100px;
}
.birds {
    float: left;
    width: 33%;
}
.birds figure {
    text-align: center;
    margin-top: 20px;
}
.free-but {
    float: right;
    width: 33%;
}
.parag {
    width: 33%;
    float: left;
    color: white;
    text-align: center;
}
.parag h1 {
    font-size: 24px;
}
.free-but button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    background: #f49ac1;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    margin-top: 35px;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.free-but button:hover,
.search-bar form input[type="submit"]:hover {
    background: #fff;
    color: #f49ac1;
}
input[type="submit"],
button:focus {
    outline: 0;
}
.top-cat > .h1-cont {
    margin-top: 100px;
}
.single-cat {
    width: 32%;
    float: left;
    margin-left: 1%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    margin-bottom: 35px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.single-cat:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.22);
}
.cat-row {
    width: 90%;
    margin: 0 auto;
}
.cat-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
    color: #212121;
    text-transform: uppercase;
    background-color: #fff;
}
.cat-img {
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.why-us {
    margin-top: 70px;
}
.why-us figure {
    position: relative;
    z-index: 1;
}
.pro-cont {
    margin-top: 100px;
    border-top: 2px solid #ff9fb9;
    border-bottom: 2px solid #ff9fb9;
    margin-bottom: 100px;
    background-color: #fff;
}
.pro-cont .parag {
    color: #212121;
}
.pro-cont .free-but button {
    background: #c6eeeb;
    color: #212121;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.pro-cont .free-but button:hover {
    background: #fff;
    color: #c6eeeb;
}
footer {
    background-image: url(../images/pink-dots.jpg);
}
ul.socials {
    list-style: none;
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
}
.socials li {
    display: inline-block;
}
.socials a .social-icom {
    width: 37px;
    height: 36px;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fb .social-icom {
    background-position: 0 0;
}
.tw .social-icom {
    background-position: -46px 0;
}
.g-plus .social-icom {
    background-position: -91px 0;
}
.in .social-icom {
    background-position: -137px 0;
}
.copy {
    text-align: center;
    font-size: 14px;
    color: #757575;
    line-height: 24px;
}
nav#mobile-menu,
.toggle-menu {
    display: none;
}
